<template lang="pug">
q-page.flex.flex-center.q-pa-md
  section
    h3.text-h3.text-weight-medium.text-blue-grey-10 This is the home page
    p.text-body1.text-center Details

</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
