<template lang="pug">
q-page(style="margin-left:auto; margin-right:auto; padding: 1rem")
  DataTable(v-if="status=='list'" title="Usuarios" @add="add" @edit="edit" @remove="remove" :rows="userList" :columns="userColumns" row-key="id")
  div(v-if="status=='add' || status=='edit'")
    q-form.q-mx-lg.q-mt-lg
      div.row
        div.col-xs-12.col-sm-6.col-md-6.q-pa-md
          InputText(v-model="userInstance.id" label="Id")
        div.col-xs-12.col-sm-6.col-md-6.q-pa-md
          InputText(v-model="userInstance.user" label="User")
      div.row
        div.col-xs-12.col-sm-6.col-md-6.q-pa-md
          q-input(v-model="userInstance.password" outlined dense label="Password" bg-color="white")
        div.col-xs-12.col-sm-6.col-md-6.q-pa-md
          q-input(v-model="userInstance.status" outlined dense label="Status" bg-color="white")

      div.text-center.q-gutter-md.q-mt-lg
        q-btn(v-if="status=='add'" label="Guardar" color="primary" @click.prevent="save(userInstance)")
        q-btn(v-if="status=='edit'" label="Guardar" color="primary" @click.prevent="update(userInstance)")
        q-btn(label="Volver" color="primary" flat @click.prevent="status='list'")
</template>

<script>
import CrudBase from 'components/CrudBase.vue'
import DataTable from 'components/DataTable.vue'
import InputText from 'components/InputText.vue'

const userColumns = [
  {
    name: 'id',
    label: 'ID',
    field: 'id',
    align: 'left',
    sortable: true
  },
  {
    name: 'username',
    label: 'USERNAME',
    field: 'user',
    align: 'left',
    sortable: true

  },
  {
    name: 'password',
    label: 'PASSWORD',
    field: 'password',
    align: 'left',
    sortable: true

  },
  {
    name: 'status',
    label: 'STATUS',
    field: 'status',
    align: 'left',
    sortable: true

  },
  {
    name: 'actions',
    label: 'Actions',
    field: 'id',
    align: 'center'
  }
]

export default {
  components: { DataTable, InputText },
  extends: CrudBase,
  data () {
    return {
      userList: [],
      userInstance: {},
      status: 'list',
      userColumns
    }
  },
  created: function () {
    this.searchAction()
  },
  methods: {
    searchAction: async function () {
      try {
        const results = (await this.$api.get('/user')).data
        this.userList = results.items
      } catch (error) {
        console.log(error)
        this.userList = []
      }
    },
    add: function () {
      this.status = 'add'
      this.userInstance = {}
    },
    edit: function (instance) {
      this.status = 'edit'
      this.userInstance = instance
    },
    update: function (instance) {
      this._put(`/user/${instance.id}`, instance)
    },
    save: function (instance) {
      this._post('/user', instance, res => this.userList.push(res.data))
    },
    remove: function (instance) {
      this.$q.dialog({
        title: 'Eliminar',
        message: 'Desea eliminar el usuario?',
        cancel: true,
        persistent: true
      }).onOk(async () => {
        this._delete(`/user/${instance.id}`, () => this.searchAction())
        if (!this.error) {
          this.$q.notify({ message: 'Eliminacion con exito', icon: 'check', color: 'positive' })
        }
      })
    },
    reset: function() {
      this.userInstance = {}
    }
  }
}
</script>
