<template lang="pug">
q-table.text-blue-grey-10(:title="title" no-data-label="No se encontraron resultados")
  template(#top)
    span.text-h5 {{title}}
    q-space
    q-btn(color="primary" label="Agregar" @click="$emit('add')")
  template(#body-cell-actions="props")
    q-td.q-gutter-sm(:props="props")
      q-btn(color="warning" label="Editar" @click="$emit('edit',props.row)")
      q-btn(color="negative" label="Eliminar" @click="$emit('remove',props.row)")
</template>

<script>
export default {
  name: 'DataTable',
  props: {
    title: {
      type: String,
      default: 'Title'
    }
  }
}
</script>
