<template>
  <q-layout
    view="hHh lpr fFf"
    class="bg-grey-1 text-blue-gray-10"
  >
    <q-header
      bordered
      class="text-white"
    >
      <q-toolbar class="q-py-sm">
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Mi Super Proyecto
        </q-toolbar-title>

        <q-btn
          color="secondary"
          label="Salir"
          @click.prevent="logout"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      side="left"
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Menú
        </q-item-label>

        <Menu
          v-for="link in menuLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import auth from 'src/auth'
import Menu from 'src/components/Menu.vue'

const menuLinks = [
  {
    title: 'Inicio',
    icon: 'home',
    route: '/'
  },
  {
    title: 'Users',
    icon: 'school',
    route: '/user'
  }
]

export default {
  components: { Menu },

  data () {
    return {
      leftDrawerOpen: false,
      user: null,
      menuLinks
    }
  },

  created () {
    this.user = auth.currentUser
  },

  methods: {
    toggleLeftDrawer () {
      this.leftDrawerOpen = !this.leftDrawerOpen
    },
    logout () {
      auth.logout()
      this.$router.push('/login')
    }

  }

}
</script>
